## Задача №1
С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен. Например:

```python    
count_top3([1880]) == ['John', 'William', 'Mary']
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']
```

In [27]:
import pandas as pd

In [22]:
PATH = './names/'

In [78]:
def count_top3(years):
    names_array = []
    names = ['Name', 'Gender', 'Count']
    for year in years:
        file = f'{PATH}yob{year}.txt'
        df = pd.read_csv(file, names=names)
        names_array.append(df)
    names_all = pd.concat(names_array).groupby('Name').sum().sort_values(by='Count', ascending=False)
    names_all_top3 = names_all.head(3)
    return names_all_top3

In [82]:
count_top3([1880])

         Count
Name
John      9701
William   9562
Mary      7092

In [83]:
count_top3([1900, 1950, 2000])

         Count
Name
James   111789
John    109601
Robert  101368

_______________________________________________________________________________________


## Задача №2
С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов. Например:

```python      
count_dynamics([1900, 1950, 2000]) == {
  'F': [299810, 1713259, 1814922],
  'M': [150486, 1790871, 1962744]
}
```

In [248]:
def count_dynamics(years):
    df_frame = pd.DataFrame()
    names = ['Name', 'Gender', 'Count']
    for year in years:
        file = f'{PATH}yob{year}.txt'
        df = pd.read_csv(file, names=names)
        df['year'] = year
        df_frame = pd.concat([df_frame, df])
    
    df_group = df_frame.groupby(['Gender', 'year']).sum()
        
     
    return df_group

In [249]:
count_dynamics([1900, 1950, 2000])

               Count
Gender year
F      1900   299798
       1950  1713065
       2000  1815295
M      1900   150480
       1950  1790437
       2000  1963202